<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--importing my css-->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/blog.css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <!--importing jquery-->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <!--setting device-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<section class="blog-page">
    <nav class="navbar">
        <div class="navbar-container">
            <a class="navbar-brand" href="/#top">
                <svg id="레이어_1" data-name="레이어 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 231.3 231.3">
                    <circle cx="115.65" cy="115.65" r="115.15" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="36.49" y1="199.27" x2="115.98" y2="0.79" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="195.29" y1="198.81" x2="115.98" y2="0.79" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="36.15" y1="198.95" x2="36.15" y2="32.34" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="195.29" y1="198.81" x2="195.15" y2="32.34" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="36.63" y1="115.17" x2="195.63" y2="115.16" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="116.13" y1="230.32" x2="115.65" y2="115.34" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="36.15" y1="32.34" x2="115.65" y2="115.34" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="195.15" y1="32.34" x2="115.65" y2="115.34" style="fill:none;stroke-miterlimit:10"/>
                </svg>
            </a>
            <div class="navText-container">
                <a href="/contact" class="navText navTextEnd">CONTACT</a>
                <a href="/projects" class="navText navTextMiddle" id="navCurrent">PROJECTS</a>
                <a href="/timeline" class="navText navTextMiddle">TIMELINE</a>
                <a href="/#About" class="navText navTextMiddle">ABOUT</a>
            </div>
        </div>
    </nav>
    <div class="blog-image">
    </div>
    <div class="blog-container">
        <div class="category-container">
        </div>
        <div class="subtitle">
        </div>
        <div class="title">
        </div>
        <div class="hashtag">
        </div>
        <div class="blog-content body1">
        </div>
    </div>
</section>

<section class="page-end">
    <div class="pageEndText-container">
        <a href="https://linkedin.com/in/yooha-bae-1912b21a3/" target="_blank" class="navText pageEndText">LINKEDIN</a>
        <a href="https://github.com/YoohaBae" target="_blank" class="navText pageEndText">GITHUB</a>
        <a href="mailto: yooha.bae.2@gmail.com" target="_blank" class="navText pageEndText">EMAIL</a>
    </div>
    </div>
</section>

<script>
    $.getJSON("/database/blogs.json", function (data) {
        const id = '<%= blogId %>';
        let blogData = data[id];

        let subtitle = document.getElementsByClassName('subtitle')[0];
        subtitle.innerText = blogData['subtitle'];

        let title = document.getElementsByClassName('title')[0];
        title.innerText = blogData['title'];

        let hashtag = document.getElementsByClassName('hashtag')[0];
        hashtag.innerText = blogData['hashtag'];

        let blogContent = document.getElementsByClassName('blog-content')[0];
        blogContent.innerHTML = blogData['content'];

        let category_container = document.getElementsByClassName('category-container')[0];
        let category = document.createElement('span');
        category.classList.add('category');
        if(blogData['category']==='design') {
            category.classList.add('design-category');
            category.innerText = "design";
            category_container.append(category);
        }
        else if(blogData['category']==='coding') {
            category.classList.add('coding-category');
            category.innerText = "coding";
            category_container.append(category);
        }
        else if(blogData['category']==='leadership') {
            category.classList.add('leadership-category');
            category.innerText = "leadership";
            category_container.append(category);
        }
        else if(blogData['category']==='experience') {
            category.classList.add('experience-category');
            category.innerText = "experience";
            category_container.append(category);
        }
        else if(blogData['category']==='other') {
            category.classList.add('other-category');
            category.innerText = "other";
            category_container.append(category);
        }

    })
</script>
</html>