<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--importing my css-->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/contact-sent.css'/>
    <!--importing jquery-->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
    <!--setting device-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<section class="contact-page">
    <nav class="navbar">
        <div class="navbar-container">
            <a class="navbar-brand" href="/#top">
                <svg id="레이어_1" data-name="레이어 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 231.3 231.3">
                    <circle cx="115.65" cy="115.65" r="115.15" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="36.49" y1="199.27" x2="115.98" y2="0.79" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="195.29" y1="198.81" x2="115.98" y2="0.79" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="36.15" y1="198.95" x2="36.15" y2="32.34" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="195.29" y1="198.81" x2="195.15" y2="32.34" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="36.63" y1="115.17" x2="195.63" y2="115.16" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="116.13" y1="230.32" x2="115.65" y2="115.34" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="36.15" y1="32.34" x2="115.65" y2="115.34" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="195.15" y1="32.34" x2="115.65" y2="115.34" style="fill:none;stroke-miterlimit:10"/>
                </svg>
            </a>
            <div class="navText-container">
                <a href="/contact" class="navText navTextEnd" id="navCurrent">CONTACT</a>
                <a href="/projects" class="navText navTextMiddle">PROJECTS</a>
                <a href="/#Timeline" class="navText navTextMiddle">TIMELINE</a>
                <a href="/#About" class="navText navTextMiddle">ABOUT</a>
            </div>
        </div>
    </nav>
    <div class="container not-full-container">
        <div class="contactText">
            <h3>CONTACT ME</h3>
        </div>
        <hr>
        <div class="container-image">
            <div class="contact-sent-image">
                <img src="images/contactImage.svg">
            </div>
            <div class="contact-info body1">
                <div class="thank-you-contact">
                Thank you for contacting me!<br>
                I will get back to you as soon as possible:)
                </div>
                <button class="body1 go-back-button" onclick="window.location.href='/contact'">GO BACK</button>
            </div>
        </div>
    </div>
</section>

<section class="page-end">
    <div class="container pageEndText-container">
        <a href="https://linkedin.com/in/yooha-bae-1912b21a3/" target="_blank" class="navText pageEndText">LINKEDIN</a>
        <a href="https://github.com/YoohaBae" target="_blank" class="navText pageEndText">GITHUB</a>
        <a href="mailto: yooha.bae.2@gmail.com" target="_blank" class="navText pageEndText">EMAIL</a>
    </div>
    </div>
</section>
<script>

</script>
</html>