<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <!--importing my css-->
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/stylesheets/projects.css'/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <!--importing jquery-->
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
    <script src=https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.3.0/math.min.js></script>
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <!--setting device-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<section class="projects-page">
    <nav class="navbar">
        <div class="navbar-container">
            <a class="navbar-brand" href="/#top">
                <svg id="레이어_1" data-name="레이어 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 231.3 231.3">
                    <circle cx="115.65" cy="115.65" r="115.15" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="36.49" y1="199.27" x2="115.98" y2="0.79" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="195.29" y1="198.81" x2="115.98" y2="0.79" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="36.15" y1="198.95" x2="36.15" y2="32.34" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="195.29" y1="198.81" x2="195.15" y2="32.34" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="36.63" y1="115.17" x2="195.63" y2="115.16" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="116.13" y1="230.32" x2="115.65" y2="115.34" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="36.15" y1="32.34" x2="115.65" y2="115.34" style="fill:none;stroke-miterlimit:10"/>
                    <line x1="195.15" y1="32.34" x2="115.65" y2="115.34" style="fill:none;stroke-miterlimit:10"/>
                </svg>
            </a>
            <div class="navText-container">
                <a href="/contact" class="navText navTextEnd">CONTACT</a>
                <a href="/projects" class="navText navTextMiddle" id="navCurrent">PROJECTS</a>
                <a href="/timeline" class="navText navTextMiddle">TIMELINE</a>
                <a href="/#About" class="navText navTextMiddle">ABOUT</a>
            </div>
        </div>
    </nav>
    <div class="container not-full-container">
        <div class="recentText">
            <h3>RECENT</h3>
        </div>
        <div class="recent-posts">

        </div>
        <div class="see-all-button">
            <div class="see-all-container">
                <div class="see-all-text body1">
                    See All
                </div>
                <a href="#all-projects">
            <span class="iconify down-arrow" data-inline="false" data-icon="akar-icons:chevron-down"
                  style="font-size: 60px;"></span>
                </a>
            </div>
        </div>
    </div>
</section>

<section class="all-projects-page" id="all-projects">
    <div class="container full-container all-posts-container">
        <div class="left-arrow" onclick="previousPage()">
            <span class="iconify" data-inline="false" data-icon="akar-icons:chevron-left"
                  style="font-size: 59px;"></span>
        </div>
        <div class="all-posts">
            <div class="filter">
                <div class="btn active filterText all-filter-text" onclick="filterBlogs('all-filter-text')">ALL</div>
                <div class="btn filterText design-filter-text" onclick="filterBlogs('design-filter-text')">DESIGN</div>
                <div class="btn filterText coding-filter-text" onclick="filterBlogs('coding-filter-text')">CODING</div>
                <div class="btn filterText leadership-filter-text" onclick="filterBlogs('leadership-filter-text')">
                    LEADERSHIP
                </div>
                <div class="btn filterText experience-filter-text" onclick="filterBlogs('experience-filter-text')">
                    EXPERIENCE
                </div>
                <div class="btn filterText other-filter-text" onclick="filterBlogs('other-filter-text')">OTHER</div>
            </div>
            <div class="all-pages">
            </div>
            <div class="pagination-container">
                <div class="pagination">

                </div>
            </div>
        </div>
        <div class="right-arrow" onclick="nextPage()">
            <span class="iconify" data-inline="false" data-icon="akar-icons:chevron-right"
                  style="font-size: 59px;"></span>
        </div>
    </div>
</section>

<section class="page-end">
    <div class="pageEndText-container">
        <a href="https://linkedin.com/in/yooha-bae-1912b21a3/" target="_blank" class="navText pageEndText">LINKEDIN</a>
        <a href="https://github.com/YoohaBae" target="_blank" class="navText pageEndText">GITHUB</a>
        <a href="mailto: yooha.bae.2@gmail.com" target="_blank" class="navText pageEndText">EMAIL</a>
    </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        window.currentPage = 0;
        window.fullPage = 0;

        const queryFilter = '<%= filter %>';
        window.currentFilter = 'all-filter-text';
        let filter = null;
        if(queryFilter === "designer") {
            filter = "design-filter-text";
            create_filter_page(filter);
        }
        else if (queryFilter === "developer") {
            filter = "coding-filter-text";
            create_filter_page(filter);
        }

        else if (queryFilter === "leader") {
            filter = "leadership-filter-text";
            create_filter_page(filter);
        }
        else {
            create_page(filter);
        }
        $('.paginationNum').click(changePage(0));
    });

    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();
            document.querySelector(this.getAttribute('href')).scrollIntoView({
                behavior: 'smooth'
            });
        });
    })

    function create_filter_page(filter) {
        $.getJSON("database/blogs.json", function (data) {
            data.sort(custom_sort);
            window.data = data;
            window.fullPage = math.ceil(data.length / 6);
            var recentPosts = data.slice(0, 3);
            recentPosts.forEach(function (element) {
                $('.recent-posts').append(
                    "<div class='post " + element.className + " '>" +
                    "<div class='card-header'></div>" +
                    "<div class='postInfo'>" +
                    "<span class='category " + element.category + "-category'>" + element.category + "</span>" +
                    "<div class=\"subtitle2\">" + element.subtitle + "</div>" +
                    "<div class=\"title2\">" + element.title + "</div>" +
                    "<div class=\"hashtag2\">" + element.hashtag + "</div>" +
                    "</div></div>");
            })

            let oldElement = document.getElementsByClassName(window.currentFilter)[0]
            let newElement = document.getElementsByClassName(filter)[0];
            oldElement.classList.remove('active');
            newElement.classList.add('active');
            window.currentFilter = filter;

            let div = document.getElementsByClassName('all-pages')[0];
            div.innerHTML = "";


            let count = 0;


            data.forEach(function (element) {
                if (window.currentFilter.split('-')[0] !== "all") {
                    if (element.category !== window.currentFilter.split('-')[0]) {
                        console.log(element.category);
                        return;
                    }
                }

                if (count % 6 === 0) {
                    $('.all-pages').append("<div class='page" + (count / 6 >> 0) + " page'></div>");
                }
                if (count % 3 === 0) {
                    $('.page' + (count / 6 >> 0)).append("<div class='row" + (count / 3 >> 0) + " row'></div>");
                }
                $('.row' + (count / 3 >> 0)).append(
                    "<div class='post " + element.className + " '>" +
                    "<div class='card-header'></div>" +
                    "<div class='postInfo'>" +
                    "<span class='category " + element.category + "-category'>" + element.category + "</span>" +
                    "<div class=\"subtitle2\">" + element.subtitle + "</div>" +
                    "<div class=\"title2\">" + element.title + "</div>" +
                    "<div class=\"hashtag2\">" + element.hashtag + "</div>" +
                    "</div></div>");
                count += 1;
            })
            let pagination = document.getElementsByClassName('pagination')[0];
            pagination.innerHTML = "";
            $('.pagination').append(`<div onclick="previousPage()">&laquo;</div>`)
            window.fullPage = math.ceil(count / 6);
            for (let i = 0; i < window.fullPage; i++) {
                if (i == 0) {
                    $('.pagination').append(`<div class='paginationNum pagination-` + i + ` active'>` + (i + 1) + `</div>`);
                } else {
                    $('.pagination').append(`<div class='paginationNum pagination-` + i + `'>` + (i + 1) + `</div>`);
                }
            }
            $('.pagination').append(`<div onclick="nextPage()">&raquo;</div>`);

            for (let i = 0; i < window.fullPage; i++) {
                $('.page' + i).hide();
            }
            window.currentPage = 0;
            $('.page' + window.currentPage).show();

            //move to bottom;
            document.querySelector('#all-projects').scrollIntoView({
                behavior: 'smooth'
            });
        });
    }

    function create_page() {
        $.getJSON("database/blogs.json", function (data) {
            data.sort(custom_sort);
            window.data = data;
            window.fullPage = math.ceil(data.length / 6);
            var recentPosts = data.slice(0, 3);
            recentPosts.forEach(function (element) {
                $('.recent-posts').append(
                    "<div class='post " + element.className + " '>" +
                    "<div class='card-header'></div>" +
                    "<div class='postInfo'>" +
                    "<span class='category " + element.category + "-category'>" + element.category + "</span>" +
                    "<div class=\"subtitle2\">" + element.subtitle + "</div>" +
                    "<div class=\"title2\">" + element.title + "</div>" +
                    "<div class=\"hashtag2\">" + element.hashtag + "</div>" +
                    "</div></div>");
            })

            data.forEach(function (element, index) {
                if (index % 6 === 0) {
                    $('.all-pages').append("<div class='page" + (index / 6 >> 0) + " page'></div>");
                }
                if (index % 3 === 0) {
                    $('.page' + (index / 6 >> 0)).append("<div class='row" + (index / 3 >> 0) + " row'></div>");
                }
                $('.row' + (index / 3 >> 0)).append(
                    "<div class='post " + element.className + " '>" +
                    "<div class='card-header'></div>" +
                    "<div class='postInfo'>" +
                    "<span class='category " + element.category + "-category'>" + element.category + "</span>" +
                    "<div class=\"subtitle2\">" + element.subtitle + "</div>" +
                    "<div class=\"title2\">" + element.title + "</div>" +
                    "<div class=\"hashtag2\">" + element.hashtag + "</div>" +
                    "</div></div>");
            })
            $('.pagination').append(`<div onclick="previousPage()">&laquo;</div>`)
            for (let i = 0; i < data.length / 6 >> 0; i++) {
                if (i == 0) {
                    $('.pagination').append(`<div class='paginationNum pagination-` + i + ` active'>` + (i + 1) + `</div>`);
                } else {
                    $('.pagination').append(`<div class='paginationNum pagination-` + i + `'>` + (i + 1) + `</div>`);
                }
            }
            $('.pagination').append(`<div onclick="nextPage()">&raquo;</div>`);
            for (let i = 0; i < window.fullPage; i++) {
                $('.page' + i).hide();
            }
            $('.page' + window.currentPage).show();
        });
    }

    function filterBlogs(c) {
        let oldElement = document.getElementsByClassName(window.currentFilter)[0]
        let newElement = document.getElementsByClassName(c)[0];
        oldElement.classList.remove('active');
        newElement.classList.add('active');
        window.currentFilter = c;

        let div = document.getElementsByClassName('all-pages')[0];
        div.innerHTML = "";


        let count = 0;
        window.data.forEach(function (element) {
            if (window.currentFilter.split('-')[0] !== "all") {
                if (element.category !== window.currentFilter.split('-')[0]) {
                    console.log(element.category);
                    return;
                }
            }

            if (count % 6 === 0) {
                $('.all-pages').append("<div class='page" + (count / 6 >> 0) + " page'></div>");
            }
            if (count % 3 === 0) {
                $('.page' + (count / 6 >> 0)).append("<div class='row" + (count / 3 >> 0) + " row'></div>");
            }
            $('.row' + (count / 3 >> 0)).append(
                "<div class='post " + element.className + " '>" +
                "<div class='card-header'></div>" +
                "<div class='postInfo'>" +
                "<span class='category " + element.category + "-category'>" + element.category + "</span>" +
                "<div class=\"subtitle2\">" + element.subtitle + "</div>" +
                "<div class=\"title2\">" + element.title + "</div>" +
                "<div class=\"hashtag2\">" + element.hashtag + "</div>" +
                "</div></div>");
            count += 1;
        })
        let pagination = document.getElementsByClassName('pagination')[0];
        pagination.innerHTML = "";
        $('.pagination').append(`<div onclick="previousPage()">&laquo;</div>`)
        window.fullPage = math.ceil(count / 6);
        for (let i = 0; i < window.fullPage; i++) {
            if (i == 0) {
                $('.pagination').append(`<div class='paginationNum pagination-` + i + ` active'>` + (i + 1) + `</div>`);
            } else {
                $('.pagination').append(`<div class='paginationNum pagination-` + i + `'>` + (i + 1) + `</div>`);
            }
        }
        $('.pagination').append(`<div onclick="nextPage()">&raquo;</div>`);

        for (let i = 0; i < window.fullPage; i++) {
            $('.page' + i).hide();
        }
        window.currentPage = 0;
        $('.page' + window.currentPage).show();

    };


    function custom_sort(a, b) {
        return new Date(b.uploadTime).getTime() - new Date(a.uploadTime).getTime();
    }

    function changePage(pageTo) {
        $('.pagination-' + window.currentPage).removeClass('active');
        $('.pagination-' + pageTo).addClass('active');
        $('.page' + window.currentPage).css('display', 'none');
        window.currentPage = pageTo;
        $('.page' + window.currentPage).css('display', 'flex');
        console.log("here");
    }

    function nextPage() {
        if (window.currentPage + 1 < window.fullPage) {
            changePage(window.currentPage + 1);
        }
    }

    function previousPage() {
        if (window.currentPage > 0) {
            changePage(window.currentPage - 1);
        }
    }
</script>

</html>

