.navText:hover {
    text-decoration: #FF5151 underline;
    color: #FF5151;
    transition: 0.3s;
}

.navbar {
    background: #FFFFFF;
}

.navbar-brand svg {
    stroke: #5A4A3F;
}

.navTextMiddle {
    color: #5A4A3F;
}

.navTextEnd {
    color: #5A4A3F;
}

html {
    background-color: #FFFFFF;
}

.container {
    background-color: #FFFFFF;
}


.blog-image {
    background-image: url("https://source.unsplash.com/random");
    background-position: center;
    width: 100%;
    height: 180px;
    background-repeat : no-repeat;
    background-size : cover;
    margin-bottom: 10px;
}

.category, .subtitle, .title, .hashtag, .blog-content {
    margin: 10px;
}

.body1 {
    color: black;
}

.blog-content {
    margin-bottom: 30px;
    text-align: justify;
}

.page-end {
    background-color: #5A4A3F;
}

.pageEndText {
    color: #FFFFFF;
    margin-left: 30px;
    margin-top: 25px;
    margin-right: 30px;
    display: inline-block;
}
.pageEndText-container {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #5A4A3F;
}

.blog-container {
    margin-left: 10%;
    margin-right: 10%;
}

.title {
    font-size: 3vw;
}

.subtitle {
    font-size: 1.5vw;
}

.category {
    font-size: 1vw
}

.hashtag {
    font-size: 1vw;
}


/* Main Rules */
:root{
    --white-c: #fff;
    --black-c: #000;
    --body-background-c: #FD7AC0;
    --wrapper-background-c: #D4F1F4;
    --wrapper-shadow-c: rgba(0, 0, 0, 0.219);
    --buttons-background-c: rgba(255, 255, 255, 0.219);
    --buttons-active-background-c: rgba(135, 207, 235, 0.493);
}

/* Wrapper */
.wrapper{
    width: 80vw;
    height: 60vh;
    position: relative;
    background-color: var(--wrapper-background-c);
    box-shadow: 0 0 80px var(--wrapper-shadow-c);
}

/* Images Area */
.images-area{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    overflow: hidden;
}
.images-area img{
    width: 100%;
    transition: 0.3s cubic-bezier(.79,.03,0,.99);
    object-fit: cover;
}

/* Buttons Area  */
.buttons-area{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.buttons-area > div{
    color: var(--white-c);
    background-color: var(--buttons-background-c);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
/* Buttons | Previous And Next */
.buttons-area > div:first-child{
    border-radius: 0 5px 5px 0;
    margin-left: -100px;
}
.buttons-area > div:last-child{
    border-radius: 5px 0 0 5px;
    margin-right: -100px;
}
/* Show The Buttons */
.wrapper:hover .buttons-area > div:first-child{
    margin-left: 0;
}
.wrapper:hover .buttons-area > div:last-child{
    margin-right: 0;
}
.buttons-area div:hover:not(div.disabled){
    background-color: var(--buttons-active-background-c);
}
.buttons-area div:not(div.disabled):active{
    opacity: 0.7;
}
/* Disabled Button */
.buttons-area > div.disabled{
    cursor: no-drop;
    opacity: 0.3;
}
.buttons-area div i{
    font-size: 70px;
}

/* Pagination Area */
.pagination-area{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
/* Pagination Spans */
.pagination-area span{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--white-c);
    margin-right: 5px;
    transform: scale(0.5);
    transition: 0.3s ease-in-out;
    opacity: 0.4;
}
/* Current Active Span */
.pagination-area span.active{
    transform: scale(1);
    opacity: 1;
}

/* End Wrapper */